<div class="body">
  <div class="body__table">
    <div class="table-responsive" *ngIf="games.length > 0">
      <table
        class="table table-hover table-secondary table-striped table-condensed"
      >
        <tbody>
          <tr *ngFor="let game of games; index as i">
            <td class="col-sm-2">{{ game?.home }}</td>
            <td class="col-sm-2">{{ game?.away }}</td>
            <td class="col-sm-1">
              <button
                class="btn btn-success btn-sm d-flex justify-content-between align-items-center"
                (click)="startGame(game)"
              >
                <span>Start Game</span>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <button class="btn btn-warning btn-lg" (click)="getSummary()">
            Summary
          </button>
          <button
            [hidden]="option === 1"
            class="btn btn-info btn-lg"
            (click)="option = 1"
          >
            Live
          </button>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="body__board">
    <app-score-board
      [games]="option === 0 ? allGames : gamesInPlay"
      [option]="option"
      [title]="option === 0 ? 'Resumen de partidos' : 'Partidos en juego'"
      (finishGameOutput)="finishGame($event)"
    ></app-score-board>
  </div>
</div>
